.pos .payment-screen .payment-buttons .js_credit.highlighted {
  color: #ffffff;
  background-color: #cb0000;
}

.pos .payment-screen .paymentmethods .paymentmethod.credit{
  color: #ffffff;
  background-color: #6EC89B;
}
.pos .payment-screen .paymentmethods .paymentmethod.credit .balance.credit,
.pos .payment-screen .paymentmethods .paymentmethod.credit .balance.debit {
  color: #ffffff;
}

.pos .payment-screen .paymentmethods .paymentmethod .balance {
    margin-top: -28px;
    margin-bottom: 12px;
    line-height: 16px;
}
.pos .payment-screen .paymentmethods .paymentmethod .balance.debt {
  color: #cb0000;
}
.pos .payment-screen .paymentmethods .paymentmethod .balance.credit {
  color: #6EC89B;
}
